## /etc/dm/Sessions/Fvwm.desktop ##

[Desktop Entry]
Name=Fvwm3
Keywords=Fvwm Window Manager
Comment=F? Virtual Window Manager
Exec=fvwm3
Terminal=False
TryExec=fvwm3
Type=Application

[Window Manager]
SessionManaged=true

##
